.header {
  position: absolute;
  padding-top: 30px;
}

.header__nav {
  margin-bottom: 111px;
  padding-left: 149px;
}
.header__nav-items {
  display: flex;
  gap: 15px;
  align-items: end;
  max-width: 355px;
}

.header__nav-items img {
  cursor: pointer;
}

.header__li {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  transition: all ease-in-out 0.2s;
}

.header__li:hover {
  color: gray;
}
